body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}
.primary-bg {
  background-color: #f3f4f6;
}
